* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#terminal {
  background-color: black;
  color: lime;
  font-family: monospace;
  font-size: 20px;
  padding: 10px;
  overflow: hidden;
  z-index: 0;
}

.cursor {
  animation: blink 0.5s infinite;
}

.bg {
  position: fixed;
  height: 100dvh;
  width: 100vw;
  z-index: -1;
  background: black;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
